<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python API D3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
    <h1>{{ title }}</h1>
    <div id="viz"></div>
</body>

<script>
window.onload = main

function main() {
    d3.json('http://localhost:5000/api/countries', data => {
        console.log(data)
        // init(data)
    })
}

function init(data) {
    // create SVG
    render(data)
} 

function render(data) {

}

</script>

</html>
